# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\wadef\Desktop\Final_Year\Semester_Six\App_Dev_Team_2\App_Dev_Team_2_Javascript\Project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
